

@keyframes slide {
  0% { margin-left: 0%; }
  20% { margin-left: 0%; }
  25% { margin-left: -100%; }
  45% { margin-left: -100%; }
  50% { margin-left: -200%; }
  70% { margin-left: -200%; }
  75% { margin-left: -300%; }
  95% { margin-left: -300%; }
  100% { margin-left: 0%; }
}

.slider .slides {
  animation: slide 20s infinite;
}

/* Manual Button Control (Stops Animation) */
#radio1:checked ~ .slides { margin-left: 0; animation: none; }
#radio2:checked ~ .slides { margin-left: -100%; animation: none; }
#radio3:checked ~ .slides { margin-left: -200%; animation: none; }
#radio4:checked ~ .slides { margin-left: -300%; animation: none; }

/* Active Dot Highlight */
#radio1:checked ~ .navigation-manual label[for="radio1"],
#radio2:checked ~ .navigation-manual label[for="radio2"],
#radio3:checked ~ .navigation-manual label[for="radio3"],
#radio4:checked ~ .navigation-manual label[for="radio4"] {
  background-color: #dc2626;
  box-shadow: 0 0 10px #751224;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* logo marquee  */
.logo-marquee {
  padding: 0.9rem 0;
  position: relative;
}


.logo-marquee--gradient {
  background-image: linear-gradient(90deg, #fff 5%, hsla(200, 9%, 93%, 0) 10%),
    linear-gradient(270deg, #fff 5%, hsla(200, 9%, 93%, 0) 10%);
  top: 1rem;
  height: 50px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.logo-marquee--marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
}

.logo-marquee--marquee-group {
  animation: scroll-left 30s linear infinite;
  display: flex;
  flex-shrink: 0;
  width: auto;
}

@media (prefers-reduced-motion) {
  .logo-marquee--marquee-group {
    animation-play-state: paused;
  }
}

.logo-marquee--marquee-group img {
  height: 40px;
  padding: 0 40px;
  width: auto;
}

@media (max-width: 991.98px) {
  .logo-marquee--marquee-group img {
    height: 56px;
    padding: 0 30px;
  }
}
@media (max-width: 767.98px) {
  .logo-marquee--marquee-group img {
    height: 48px;
    padding: 0 20px;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
